POSTGRES_USER='hotwire_demo'
POSTGRES_PASSWORD='hotwire_demo'
POSTGRES_HOST_AUTH_METHOD=trust
POSTGRES_DB='hotwire_demo_development'
POSTGRES_PRODUCTION_DB='hotwire_demo_production'
POSTGRES_HOST='postgres'
POSTGRES_PORT=5432
